/* ***************************** Small devices (phones, less than 768px) ******************************************** */
@media (max-width: 767.98px) {

    .main-container {
        width: 100%;
        padding: 0;
    }

    .section-title {
        font-size: 20px;
    }

    .search-section h1 {
        font-size: 22px;
    }

    .search-section p,
    .search-section .info {
        font-size: 15px;
    }



    /* **************************** header ******************* */
    header .navbar {
        padding: 10px 0 10px 0;
        flex-direction: column;
        gap: 20px;

    }


    .navbar .logo {
        display: none;

    }

    .navbar .big-logo {
        display: block;
        width: 20%;
    }

    /* ****************** annuler le comportement par défaut du document ******************* */
    /* avec comportement par défaut */
    /* .navbar .nav-links {
        width: 100%;
        text-align: center;
        gap: 0;

    } */

    /* sans comportement par défaut */
    .navbar .nav-links {
        width: 100%;
        height: 40px;
        /* text-align: center; */
        /* text-align pour header simple  */
        gap: 0;

    }

    /* ************************************** menu li:flex ************************************** */

    .nav-links li {
        width: 100%;
        height: 100%;
        padding: 0;
        border-bottom: 2px solid transparent;
    }

    .nav-links li a {
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .nav-links li:hover {
        border-bottom: 2px solid var(--main-color);
        border-top: 4px solid transparent;
    }

    .nav-links li a:hover {
        color: var(--main-color);
    }

    /* ************************************** menu li:flex ************************************** */

    /* ************************************** menu simple ************************************** */
    /* .nav-links li {
        width: 100%;
        padding: 10px;
    }

    .nav-links li:hover {
        border-bottom: 2px solid var(--main-color);
    }

    .nav-links li a:hover {
        border-top: 4px solid transparent;
    } */

    /* ************************************** menu simple ************************************** */

    /* ************* search section ***************** */
    .search-section {
        padding: 0 20px 0 20px;
        margin: 0;

    }

    .search-bar {
        max-width: none;
        border-radius: 15px;
        margin-bottom: 15px;
        overflow: visible;
        height: 47px;
    }

    .search-bar .location-icon {
        border-radius: 15px 0 0 15px;
    }

    .search-bar input::placeholder {
        font-size: small;
    }

    .search-bar .search-btn {
        border-radius: 15px;
        box-shadow: 0 2px 5px #757575;
        height: 47px;
    }

    .search-btn .btn-text {
        display: none;
    }

    .search-btn .btn-icon {
        padding: 0;
        background: none;
        display: block;
        color: white;
        font-size: 18px;

    }

    .filters {
        flex-direction: column;
        gap: 10px;
    }

    .filters .filter-buttons {
        padding: 0 10px 0 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .filter-buttons button {
        justify-content: start;

    }


    /* *********************** hebergements-and-populaires ************************ */
    .hebergements-and-populaires {
        width: 100%;
        flex-direction: column-reverse;

    }

    /* *********************** populaires  ************************ */
    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
        margin: 0;
    }

    .populaires-cards {
        display: grid;
        /* flex-direction: column; */

    }

    .populaires-cards .card {
        margin-top: 10px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle,
    .populaires-cards .card-rating {
        font-size: 12px;
    }

    /* *********************** hebergement-activities-footer ************************ */
    .hebergements-cards,
    .section-activities .activites-cards,
    footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .hebergements-and-populaires .hebergements {
        background: none;
        gap: 15px;
    }

    .activites-cards img {
        height: 140px;
    }

    footer {
        padding: 20px 40px 20px 40px;
    }
}